// body {
//     // background-color: black;
// }
* {
  margin: 0px;
  padding: opx;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.btn {
    background: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width768px){
        width: 90%;
    }
}
.info__block {
  background: #000;
  color: white;
  text-align: center;
}

.navigation {
  display: flex;

  .navigation__logo {
    font-weight: bold;
  }

  .navigation__items {
    display: inherit;
    width: 100%;

    & > * {
      margin-left: 30px;
    }

    .navigation__items-link:nth-child(4),
    .navigation__items-link:nth-child(1) {
      margin-left: auto;
    }
  }
}
