@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Poppins:wght@100;700&display=swap");
body {
  font-family: 'Cabin', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin: 10px auto;
}

h1 {
  font-size: 45px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}

.btn {
  background: #000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.info__block {
  margin: 0%;
  background: #000;
  color: white;
  text-align: center;
}

.main {
  background: #bd7aa1;
  padding-bottom: 40px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
  margin-top: 0px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation .hamburger {
  display: none;
  position: relative;
}

@media (max-width: 768px) {
  .navigation .hamburger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    display: block;
    height: 3px;
    background: #000;
  }
  .navigation .hamburger::before, .navigation .hamburger::after {
    content: "";
    position: absolute;
    height: inherit;
    width: 100%;
    background: inherit;
    top: 6px;
  }
  .navigation .hamburger::after {
    top: -6px;
  }
}

.navigation .navigation__logo {
  font-weight: bold;
}

.navigation .navigation__items {
  display: inherit;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .navigation .navigation__items {
    display: none;
  }
}

.navigation .navigation__items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 200px;
  right: 37px;
  top: 110px;
  background: rebeccapurple;
  text-align: center;
  height: 300px;
  color: white;
}

.navigation .navigation__items .navigation__items-link {
  margin-top: 20px;
  margin-left: 0;
}

.navigation .navigation__items > * {
  margin-left: 30px;
}

.navigation .navigation__items .navigation__items-link:nth-child(4),
.navigation .navigation__items .navigation__items-link:nth-child(1) {
  margin-left: auto;
}

@media (max-width: 768px) {
  .navigation .navigation__items .navigation__items-link:nth-child(4),
  .navigation .navigation__items .navigation__items-link:nth-child(1) {
    margin-left: 0px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero input {
  padding-top: 20px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .hero .hero__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero .hero__benefits p {
  margin-block: 2px;
}

.hero .hero__benefits p::before {
  content: url("../Assets/Checkmark.svg");
  padding-right: 10px;
  vertical-align: top;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logos img {
  height: 25px;
  margin: 40px;
  width: auto;
}

@media (max-width: 768px) {
  .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */