body {
    font-family: 'Cabin', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Poppins:wght@100;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
    width: 100%;
}
p {
    margin: 10px auto;
}
h1 {
    font-size: 45px;
    @media (max-width:768px) {
        font-size: 30px;
        
    }
}

.btn {
    background: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width:768px){
        width: 90%;
    }
}
.info__block {
    margin: 0%;
  background: #000;
  color: white;
  text-align: center;
//   padding: 10px;
}
.main {
    background: #bd7aa1;
    padding-bottom: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 15px auto;
  margin-top: 0px;
  padding-top: 20px;

  .navigation__logo {
    font-weight: bold;
  }
  .navigation__items {
    display: inherit;
    width: 100%;
    align-items: center;

    & > * {
      margin-left: 30px;
    }

    .navigation__items-link:nth-child(4),
    .navigation__items-link:nth-child(1) {
      margin-left: auto;
    }
  }
}
.hero {
    display: flex;
    align-items: center;

    @media (max-width:768px) {
        flex-wrap: wrap;
        
    }
    input {
        padding-top: 20px 20px;
        border:1px solid lightgray;
        border-radius: 5px;
        margin-right: 10px;

    }
    .hero__left {
        @media (max-width:768px) {
            order: 2;
            
        }
    }

    .hero__benefits p {
        margin-block: 2px;

        &::before {
            content: url("../Assets/Checkmark.svg");
            padding-right: 10px;
            vertical-align: top;

         
        }
    }

}
.logos {
  display: flex;  
  justify-content: space-between;

  img {
      height: 25px;
      margin: 40px;
      width: auto;
  }

  @media (max-width:768px) {
      flex-wrap: wrap;
      justify-content: center;
      
  }
}

